@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

body {
  background-color: #f0f0e9;
  font-family: 'Signika Negative', sans-serif;
}
li {
    list-style-type: none !important;
}
.no-border {
  border: none !important;
}

.btn-primary {
  background: grey !important;
  border: none !important;
}

.flex-direction-row-column {
    flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
}
